mixin link_style(url)
    link(href=url rel="stylesheet")

mixin empty-li(n)
    - for(var i = 0; i < n; i++)
        li(style="color:transparent") 1

mixin font-words
    - var words = ["music", "sound", "vinyl", "love", "creativity", "hipster", "songs", "notes"];
    each val in words
        li= val
    each val in words
        li= val

mixin animation
    div.animation
        - for(var i = 0; i < 8; i++)
            div

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
        title The Band
        +link_style("css/normalize.css")
        +link_style("css/style-band.css")
        +link_style("https://fonts.googleapis.com/css?family=Lora:400,400i,700")
        +link_style("https://fonts.googleapis.com/css?family=Oswald:300,400,700")

    body
        div.content-band
            header.header-band(id="home")
                nav.navbar-header
                    ul
                        li.active
                            a(href="#home") Home
                            +animation
                        li
                            a(href="#about") About
                            +animation
                        li
                            a(href="#music") Music
                            +animation
                        li
                            a(href="#tours") Tours
                            +animation
                        li
                            a(href="#contact") Contact
                            +animation
                div.words.clearfix
                    ul
                        +empty-li(3)
                        +font-words
                    ul
                        +font-words
                        +empty-li(3)
                    ul
                        +empty-li(2)
                        +font-words
                        +empty-li(1)
                    ul
                        +empty-li(3)
                        +font-words
                    h1
                        span.coffee We are
                        br
                        span.dark-coffee the band

            section.about.clearfix(id="about")
                div.photo
                    //div.photo-member
                    img(src="images/member-bass.jpg")
                    div.member-name
                        span.light-coffee Curt
                        br
                        span.dark-coffee  Sheard
                div.about-member
                    div.members
                        ul
                            li Lawrie Alton
                            li Charles Timmy
                            li.active Curt Sheard
                            li Cade Ryker
                            li Tommie Brendan
                        ul
                            li Vocalist
                            li Guitar
                            li.active Bass
                            li Drums
                            li Electronics
                    article
                        h2 Meet our band
                        p.
                            Court Sheard, swag iPhone neutra williamsburg,
                            you probably haven't heard of them PBR&B marfa seitan.
                            Four dollar toast wayfarers helvetica etsy,
                            affogato pinterest schlitz.
                            Squid yr mlkshk, pinterest pour-over polaroid photo booth.
                            Yr fixie plaid kogi.
                button.next
                button.prev

            section.music.clearfix(id="music")
                div.discography
                    img(src="images/album.jpg")
                    div.albums
                        h3 Discography
                        table
                            thead
                            tbody
                                tr
                                    td Surprise Without Flaws
                                    td.decor
                                    td 2015
                                    td
                                        button.listen Listen
                                    td
                                        button.buy Buy
                                tr
                                    td Mists Of A Shadow
                                    td.decor
                                    td 2014
                                    td
                                        button.listen Listen
                                    td
                                        button.buy Buy
                                tr
                                    td Heroes Of The Sun
                                    td.decor
                                    td 2013
                                    td
                                        button.listen Listen
                                    td
                                        button.buy Buy
                                tr
                                    td Picure Of The Past
                                    td.decor
                                    td 2012
                                    td
                                        button.listen Listen
                                    td
                                        button.buy Buy

                div.songs
                    h3 Now playing
                    span.name-album Surprise Without Flaws
                    span.name-song 01. Clouds In The Forest

                    div.turntable
                        button.prev
                        button.pause.is-none
                        button.play
                        button.next

                        span.progress

                        span.done
                        span.will-do

                    article.current-album
                        h3 Surprise without Flaws
                        ul.list-songs
                            li.active
                                button.play
                                span 01. Clouds In The Forest
                            li
                                button.play
                                span 02. Rat In The River
                            li
                                button.play
                                span 03. Giants And Companions
                            li
                                button.play
                                span 04. Ashamed Of Light
                            li
                                button.play
                                span 05. Doubting The Forest
                            li
                                button.play
                                span 06. Criminals Of The Lake
                            li
                                button.play
                                span 07. Curse Of Eternity
                            li
                                button.play
                                span 08. Fog In My Town
                            li
                                button.play
                                span 09. Serpent In The Mountains
                        ul.time-songs
                            li
                                span.dots
                                span.time 3:20
                            li
                                span.dots
                                span.time 2:48
                            li
                                span.dots
                                span.time 2:27
                            li
                                span.dots
                                span.time 3:32
                            li
                                span.dots
                                span.time 2:40
                            li
                                span.dots
                                span.time 2:50
                            li
                                span.dots
                                span.time 1:33
                            li
                                span.dots
                                span.time 1:33
                            li
                                span.dots
                                span.time 3:24

            section.tours(id="tours")
                h2 Tours dates
                div.tours-list
                    button.next
                    button.prev
                    div.content-tour-list
                        ul
                            li.last
                                span ALEXANDRA PALACE, 10/03/2015
                                span LONDON, UNITED KINGDOM
                            li.last
                                span FIELD DAY, 14/04/2015
                                span SYDNEY, AUSTRALIA
                            li.last
                                span SYDNEY OPERA HOUSE, 18/04/2015
                                span SYDNEY, AUSTRALIA
                            li.last
                                span HEINEKEN MUSIC HALL, 02/05/2015
                                span AMSTERDAM, HOLLAND
                            li.last
                                span FOREST NATIONAL, 07/06/2015
                                span BRUSSELS, BELGIUM
                            li.last
                                span SPORTHALLE, 07/10/2015
                                span HAMBURG, GERMANY
                            li.now
                                span TAP 1, today
                                span COPENHAGEN, DENMARK
                            li.future
                                span COLUMBIANHALLE, 16/12/2015
                                span BERLIN, GERMANY
                            li.future
                                span Torwar, 19/12/2015
                                span WARSAW, POLAND
                            li.future
                                span MEDIOLANUM FORUM, 16/01/2016
                                span MILAN, ITALY
                            li.future
                                span ZENITH, 23/02/2016
                                span PARIS, FRANCE
                            li.future
                                span ALEXANDRA PALACE, 14/03/2016
                                span LONDON, UK


                div.tours-date
                    div.event.clearfix
                        div.date
                            span.date-number 12
                            span.date-month-year
                                span dec
                                span 2015
                        div.place Tap 1	// Copenhagen, Denmark
                        div.ticket
                            button buy ticket

                    div.event.clearfix
                        div.date
                            span.date-number 16
                            span.date-month-year
                                span dec
                                span 2015
                        div.place Columbianhalle //	Berlin, Germany
                        div.ticket
                            button buy ticket

                    div.event.clearfix
                        div.date
                            span.date-number 19
                            span.date-month-year
                                span dec
                                span 2015
                        div.place Torwar //	Warsaw, Poland
                        div.ticket
                            button buy ticket

                    div.event.clearfix
                        div.date
                            span.date-number 01
                            span.date-month-year
                                span jun
                                span 2016
                        div.place Tap 1	//	Copenhagen, Denmark
                        div.ticket
                            button buy ticket

            footer.footer-band(id="contact")
                span.contacts contact
                span.phone +48 202 - 555 - 0114
                div.subscribe.clearfix
                    div
                        button subscribe
                        input(type="email")
                    div
                        a.facebook(href="#")
                        a.youtube(href="#")
                div.footer-copyright.clearfix
                    nav.navbar-footer
                        ul
                            li
                                a(href="#home") Home
                                +animation
                            li
                                a(href="#about") About
                                +animation
                            li
                                a(href="#music") Music
                                +animation
                            li
                                a(href="#tours") Tours
                                +animation
                            li.active
                                a(href="#contact") Contract
                                +animation

                    span.copyright copyright 2015 by the band




    script(src="script/script-the-band.js")