include _mixins.jade

+document("The Band", "style_the_band", ["Lora", "Oswald"])
    div.content
        header.header-band
            nav.navbar-header
                ul
                    li
                        a(href="#home") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#music") Music
                    li
                        a(href="#tours") Tours
                    li
                        a(href="#contact") Contract
            div.words
            h1
                span.coffee We are
                span.dark-coffee the band

        section.about
            div.photo
                img(src="images/member-bass.jpg")
                div.member-name
                    span.light-coffee Curt
                    span.dark-coffee  Sheard
            div.about-member
                div.members
                    ul
                        li
                        li
                        li
                        li
                        li
                article
                    h2
                    p

        section.music
            div.discography
                div.image-disc
                    img(src="images/album.jpg")
                div.albums
                    h3 Discography
                    table
                        thead
                        tbody
                            tr
                                td
                                td
                                td
                                    button Listen
                                td
                                    button Buy
                            tr
                                td
                                td
                                td
                                    button Listen
                                td
                                    button Buy
                            tr
                                td
                                td
                                td
                                    button Listen
                                td
                                    button Buy
                            tr
                                td
                                td
                                td
                                    button Listen
                                td
                                    button Buy

            div.songs
                span Now playing
                span.name-album
                span.name-song

                div.turntable

                article.current-album
                    h3 Surprise without Flaws
                    ul
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                        li

        section.tours
            h2 Tours dates
            div.tours-list
            div.tours-date

        footer(id="#contacts")
            span.contacts
            span.phone
            div.subscribe
            div.footer-copyright
                span.copyright
                nav.navbar-footer
                ul
                    li
                        a(href="#home") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#music") Music
                    li
                        a(href="#tours") Tours
                    li
                        a(href="#contact") Contract




